name: Django Tests

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  Test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Start Django Server
      run: |
        python manage.py runserver &
        sleep 5
        echo "Django Server started"

    - name: Run Django tests
      run: |
        python manage.py test

    Deploy:
      needs: test
      runs-on: ubuntu-latest


      steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Trigger Render Deploy
          env:
            RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
            RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}           
          run: |
            echo "Iniciando Deploy"
            curl -X POST \ 
              -H "Accept: application/json" \
              -H "Authorization: Bearer $RENDER_API_KEY" \ 
              -H "Content-Type: application/json" \
              https://api.render.com/v1/services/${RENDER_SERVICE_ID}/deploys
